$primary-color: #272A37;
$primary-color-accent-1: #3c4155;
$secondary-color: #faebd7;
$secondary-color-accent-1: #B69870;

#logo {
    width: auto;
    cursor: pointer;
    font-size: 35px;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-weight: 100;
    transition: all 200ms ease-in-out;
    margin: 0;
}

#logo:hover {
    color: $secondary-color-accent-1;
}

.nav-spacer {
    height: 1px;
}

#navbar {
    width: 100%;
    height: 80px;
    padding: 15px;
    display: block;
    background: $primary-color-accent-1;
    z-index: 100; // Prevent Overlaps
    transition: height, padding 150ms ease-in-out;

    #tabs {
        display: flex;
        font-family: 'Zen Tokyo Zoo', cursive;
        font-size: 22px;
        font-weight: 100;

        .action-style {
            background: transparent;
            border: none;
            border-radius: 15px;
            text-decoration: none;
            font-size: 24px;
            color: $secondary-color;
            padding: 0 20px;        
            transition: all 200ms ease-in-out;
        }
    
        .action-style:hover{
            box-shadow: 0 10px 5px rgba(0, 0, 0, 0.35);
            color: $secondary-color-accent-1;
        }
    }

    #fluid-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 5px;    
    }

}

.sticky {
    position: fixed;
    top: 0;
    height: 60px !important;
    padding: 5px !important;
}

.fa-hamburger {
    color: $secondary-color;
    font-size: 35px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35);
}